{% extends 'base.html' %}
{% load static %}

{% block extraCss %}
<style>
  @media screen and (max-width: 480px) {
    .old-couple{
    width:250px
    }
    }
</style>
{% endblock %}

{% block content  %}

<section class="home-slider owl-carousel">
  <div class="slider-item dark" style="background-image: url('{% static 'img/slider-1.jpg' %}');">

    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-6 col-sm-12 element-animate">
          <span class="child-name cursive">Celine Richardson, 14 yrs. old</span>
          <h1>Needs a Caring Parents</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
            quam minima expedita atque corrupti reiciendis.</p>
          <p><a href="#" class="btn btn-primary">Adopt Her Now!</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url({% static 'img/slider-2.jpg' %});">
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-6 col-sm-12 element-animate">
          <span class="child-name cursive">Mark Rodriguez, 12 yrs. old</span>
          <h1>Needs a Loving Parents</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
            quam minima expedita atque corrupti reiciendis.</p>
          <p><a href="#" class="btn btn-primary">Adopt Him Now!</a></p>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- END slider -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4">
        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

        <img class="old-couple" src="{% static 'img/old.png' %}">
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nemo et, esse laudantium
          consequatur. Eum soluta illum architecto dolorum quae suscipit dignissimos! Saepe, amet explicabo nemo
          eligendi totam sint repudiandae.</p>
        <p><a href="#" class="btn btn-outline-primary">Adopt a child now</a></p>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <h2 class="mb-5">Steps to adopt &amp; foster a child</h2>
        <div id="accordion">
          <div class="card mb-2">
            <h5 class="mb-0">
              <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                1. Getting Started
                <span class="icon ion-chevron-down"></span>
              </a>
            </h5>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid velit, asperiores libero. Beatae vitae
                nostrum et distinctio saepe autem quisquam cupiditate labore voluptatum, eligendi ipsam atque assumenda
                odit, perferendis dicta.
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <h5 class="mb-0">
              <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                2. Envisioning your family
                <span class="icon ion-chevron-down"></span>
              </a>
            </h5>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quibusdam possimus dolor odio dicta
                ipsam deleniti enim suscipit. Sed aperiam hic recusandae, perspiciatis quibusdam numquam nisi dolorum
                nostrum porro explicabo.
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <h5 class="mb-0">
              <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                3. Getting approved
                <span class="icon ion-chevron-down"></span>
              </a>
            </h5>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quibusdam architecto vitae
                provident saepe omnis dignissimos corporis ratione nihil. Laboriosam nesciunt fugiat modi quis, odio
                tempora enim ipsa consequuntur temporibus.
              </div>
            </div>
          </div>

          <div class="card mb-2">
            <h5 class="mb-0">
              <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                4. Being matched with a child
                <span class="icon ion-chevron-down"></span>
              </a>
            </h5>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed fugiat autem, explicabo dolorum libero
                totam doloribus ex ducimus repellendus qui nam distinctio cupiditate deleniti ipsam quibusdam neque
                quaerat tenetur ipsa.
              </div>
            </div>
          </div>

          <div class="card mb-2">
            <h5 class="mb-0">
              <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">
                5. Receiving a placement
                <span class="icon ion-chevron-down"></span>
              </a>
            </h5>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit culpa accusamus repellat ut officia
                nesciunt aliquid qui nulla, provident ratione doloremque porro atque repellendus perspiciatis est.
                Accusamus earum, animi quod?
              </div>
            </div>
          </div>

          <div class="card mb-2">
            <h5 class="mb-0">
              <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                aria-expanded="false" aria-controls="collapseSix">
                6. Finalizing an adoption
                <span class="icon ion-chevron-down"></span>
              </a>
            </h5>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sint placeat praesentium, libero
                excepturi laboriosam officia sapiente ipsa magnam asperiores tempora ea, et repellendus reprehenderit
                dolores, hic at in. Fugit.
              </div>
            </div>
          </div>

          <div class="card mb-2">
            <h5 class="mb-0">
              <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                aria-expanded="false" aria-controls="collapseSeven">
                7. State information
                <span class="icon ion-chevron-down"></span>
              </a>
            </h5>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sequi nobis beatae nesciunt fugit
                quisquam culpa rerum ipsum quibusdam impedit, sed soluta, quos neque reiciendis, earum magni laudantium
                iure, deleniti?
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 element-animate">
      <div class="col-md-8 text-center">
        <h2 class="text-uppercase heading mb-4">Waiting Children</h2>
        <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit,
          necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
        <p class="mb-0"><a href="#" class="btn btn-primary">Find More Waiting Children <span
              class="icon-arrow"></span></a></p>
      </div>
    </div>
    <div class="row element-animate">
      <div class="major-caousel js-carousel-1 owl-carousel">
        <div>
          <div class="media d-block media-custom text-left">
            <a href="adoption-single.html"><img src="{% static 'img/children_1.jpg' %}" alt="Image Placeholder"
                class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black"><a href="#" class="text-black">Edward, <span class="age">14 yrs.
                    old</span></a></h3>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-left">
            <a href="adoption-single.html"><img src="{% static 'img/children_2.jpg' %}" alt="Image Placeholder"
                class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black"><a href="#" class="text-black">Mellisa, <span class="age">6 yrs.
                    old</span></a></h3>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-left">
            <a href="adoption-single.html"><img src="{% static 'img/children_3.jpg' %}" alt="Image Placeholder"
                class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black"><a href="#" class="text-black">Mark, <span class="age">12 yrs. old</span></a>
              </h3>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-left">
            <a href="adoption-single.html"><img src="{% static 'img/children_4.jpg' %}" alt="Image Placeholder"
                class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black"><a href="#" class="text-black">Jessa, <span class="age">13 yrs. old</span></a>
              </h3>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-left">
            <a href="adoption-single.html"><img src="{% static 'img/children_5.jpg' %}" alt="Image Placeholder"
                class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black"><a href="#" class="text-black">Ben, <span class="age">14 yrs. old</span></a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- END slider -->
    </div>
  </div>
</section>
<!-- END section -->

<section class="section border-t">
  <div class="container">
    <div class="row justify-content-center mb-5 element-animate">
      <div class="col-md-8 text-center">
        <h2 class="text-uppercase heading mb-4">Featured Stories</h2>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-md-4 element-animate">
        <a href="works-single.html" class="link-thumbnail">
          <h3><span class="date">January 31, 2018</span> "Being loved has taught me how to love"</h3>
          <span class="ion-plus icon"></span>
          <img src="{% static 'img/work_thumb_1.jpg' %}" alt="Image placeholder" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a href="works-single.html" class="link-thumbnail">
          <h3><span class="date">January 31, 2018</span> Becoming a perfect parent out of imperfect </h3>
          <span class="ion-plus icon"></span>
          <img src="{% static 'img/work_thumb_2.jpg' %}" alt="Image placeholder" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a href="works-single.html" class="link-thumbnail">
          <h3><span class="date">January 31, 2018</span> Home sweet home</h3>
          <span class="ion-plus icon"></span>
          <img src="{% static 'img/work_thumb_3.jpg' %}" alt="Image placeholder" class="img-fluid">
        </a>
      </div>

    </div>
  </div>
</section>
<!-- END section -->

<section class="section-subscribe bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 my-3">
        <h2 class="text-uppercase heading">Get News &amp; Updates</h2>
      </div>
      <div class="col-md-12">
        <form method="post" action="">
          <div class="row">
            <div class="col-md-4 mb-3">
              <input type="text" class="form-control btn-block" placeholder="Your Name">
            </div>
            <div class="col-md-4 mb-3">
              <input type="email" class="form-control btn-block" placeholder="Your Email">
            </div>
            <div class="col-md-4 mb-3">
              <input type="submit" class="btn btn-primary btn-block" value="Subscribe">
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</section>

<!-- footer blow  -->
{% endblock %}